.modal.inmodal(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content.animated.bounceInRight
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') ×
          span.sr-only Close
        h4.modal-title Crear un nuevo producto
      .modal-body
        form(role='form')
          .form-group
            label Nombre
            input.form-control(type='text', placeholder='' name="name" [(ngModel)]="newProduct.name")
          .form-group
            label Descripción
            input.form-control(type='text', placeholder='' name="description" [(ngModel)]="newProduct.description")

      .modal-footer
        button.btn.btn-white(type='button', data-dismiss='modal') Cancelar
        button.btn.btn-primary(type='button' (click)="createProduct()" ) Crear
