.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .m-t-lg
        app-product-new
        .ibox.float-e-margins
          .ibox-title
            h5 Basic Table
            .ibox-tools
              a.btn.btn-primary((click)="openNewProduct()") Nuevo producto
              a.collapse-link
                i.fa.fa-chevron-up
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.fa.fa-wrench
              ul.dropdown-menu.dropdown-user
                li
                  a(href='#') Config option 1
                li
                  a(href='#') Config option 2
              a.close-link
                i.fa.fa-times
          .ibox-content
            table.table
              thead
                tr
                  th Nombre
                  th Precio
                  th Acciones
              tr
                td Producto 1
                td $ 12.34
                td aaa
              tr
                td Producto 1
                td $ 12.34
                td aaa
              tr
                td Producto 1
                td $ 12.34
                td aaa
              tr
                td Producto 1
                td $ 12.34
                td aaa
